<!doctype html>
<html>
  <meta http-equiv="content-type; X-UA-Compatible" content="text/html; charset=UTF8; IE=Edge">
  <head>
    <title>instore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

    <meta property="og:site_name" content="instore">
    <meta property="og:url" content="https://www.instor.co/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Find products in stores by price, location, and availability">
    <meta property="og:image" content="http://i.imgur.com/gLyF5m0.png">
    <meta itemprop="url" content="https://www.instor.co/">
    <meta itemprop="description" content="Find products in stores by price, location, and availability">
    <meta name="twitter:title" content="instore">
    <meta name="twitter:url" content="https://www.instor.co/">
    <meta name="twitter:image" content="http://i.imgur.com/gLyF5m0.png">
    <meta name="twitter:description" content="Find products in stores by price, location, and availability">
    <meta name="description" content="Find products in stores by price, location, and availability">
    <meta itemprop="thumbnailUrl" content="http://i.imgur.com/gLyF5m0.png">
    <meta name="keywords" content="instore instor product price location availability stock inventory">
    <!-- <link rel="shortcut icon" href="/static/public/images/favicon.ico"> -->
    <!-- <link rel="icon" type="image/png" href="/static/public/images/favicon-16x16.png" sizes="16x16"> -->
    <!-- <link rel="icon" type="image/png" href="/static/public/images/favicon-32x32.png" sizes="32x32"> -->
  </head>
  <body>
    <div id="app"></div>
    <%=htmlWebpackPlugin.files.webpackManifest%>
  </body>
</html>
